#stopwatch {
  align-content: center;
  background-color: grey;
  border-radius: 50%;
  color: white;
  display: grid;
  grid-column-gap: 12px;
  grid-template-areas:
    "header header header"
    "timer timer timer"
    "start stop reset";
  height: 250px;
  justify-content: center;
  text-align: center;
  width: 250px;
}

h1 {
  grid-area: header;
  margin: -20px 0 0 0;
}

button {
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  cursor: default;
}

#start-button {
  grid-area: start;
}

#stop-button {
  grid-area: stop;
}

#reset-button {
  grid-area: reset;
}

#timer {
  font-family: monospace;
  font-size: 24px;
  font-weight: bold;
  grid-area: timer;
  margin: 12px;
}
